name: Test tap-polarsh

permissions:
  contents: read
  pull-requests: write

on:
  push:
    branches: [main]
    paths:
    - tap_polarsh/**
    - tests/**
    - pyproject.toml
    - uv.lock
    - .github/workflows/test.yml
  pull_request:
    paths:
    - tap_polarsh/**
    - tests/**
    - pyproject.toml
    - uv.lock
    - .github/workflows/test.yml
  workflow_dispatch:
  schedule:
  # Run weekly on Monday at 12:00 PM UTC
  - cron: "0 12 * * 1"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  FORCE_COLOR: "1"
  # renovate: datasource=pypi depName=uv
  UV_VERSION: 0.9.26
  # renovate: datasource=pypi depName=tox
  TOX_VERSION: 4.32.0
  # renovate: datasource=pypi depName=tox-uv
  TOX_UV_VERSION: 1.29.0

jobs:
  test:
    name: Integration
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      max-parallel: 3
      matrix:
        python-version:
        - "3.14"
        - "3.13"
        - "3.12"

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      id: setup-python
      with:
        python-version: ${{ matrix.python-version }}
        allow-prereleases: true
    - uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
      with:
        version: ${{ env.UV_VERSION }}
    - name: Run tests
      env:
        UV_PYTHON: ${{ steps.setup-python.outputs.python-path }}
        TAP_POLARSH_TOKEN: ${{ secrets.TAP_POLARSH_TOKEN }}
        TAP_POLARSH_START_DATE: ${{ secrets.TAP_POLARSH_START_DATE }}
      run: >
        uvx
        --with tox-uv==${{ env.TOX_UV_VERSION }}
        --with tox==${{ env.TOX_VERSION }}
        tox -e ${{ matrix.python-version }} -- --junit-xml=junit.xml
    - uses: mikepenz/action-junit-report@a294a61c909bd8a4b563024a2faa28897fd53ebc # v6.1.0
      if: ${{ matrix.python-version == '3.13' && success() || failure() }} #  always run even if the previous step fails
      with:
        annotate_only: true
        comment: true
        detailed_summary: true
        include_passed: true
        report_paths: junit.xml

  lint:
    name: Lint
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      id: setup-python
    - uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
      with:
        version: ${{ env.UV_VERSION }}
    - env:
        UV_PYTHON: ${{ steps.setup-python.outputs.python-path }}
      run: uv tool install --with tox-uv==${{ env.TOX_UV_VERSION }} --from tox==${{ env.TOX_VERSION }} tox
    - name: Static type checking
      run: tox -e typing
    - name: Unused, missing and transitive dependencies
      run: tox -e dependencies
